@{
    ViewData["Title"] = "Home Page";
}

<h1>AIM Inventory Software</h1>
<p>
    Adventist Information Ministries (or AIM) is a ministry of the Seventh-Day Adventist church specializing in digital media and communications. As a call center tasked with fulfilling a variety of ministry roles AIM maintains and services dozens of technology middle and endpoints including phones, laptops, desktops, and servers. The purpose of this web application is to allow easy recording of maintenance and status logs for all these machines.
</p>
<img src="~/Images/Branding/AIM_NAD_Logo.jpg" alt="Adventist Information Ministries and North American Division logo" width="400"/>
<p>
    This software was developed under the administration of AIM IT Director Ricky Moore with the following developers and contributors:
</p>
<ul>
    <li>Anthony Isensee (project lead, design architect, database implementation)</li>
    <li>Lionel Kanyowa (database design, domain user authentication)</li>
</ul>