@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<p>This website allows the AIM IT team to view and edit a list of active and retired devices.</p>

<!--
<div class="text-center">
    <h1 class="display-4">AIM Inventory</h1>
    <p>This internal CRM allows the AIM IT team to add and view a list of devices.</p>
</div>
-->
