@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As an intranet website AIM reserves the right to log all activity that takes place on this inventory site. This includes (but is not limited to) user credentials, user logins, and inventory changes. For more information please contact AIM IT.</p>
